---
import Layout from "@/layouts/Layout.astro"
// import type { GetStaticPaths } from "astro"
import { pb } from "@/services/pocketbase"

export const prerender = false

const { id } = Astro.params

const record = await pb.collection('teams').getFirstListItem(`country_code_3="${id}"`, {})

// export const getStaticPaths = (async () => {
//   const records = await pb.collection('teams').getFullList({})
//   return records.map((record) => ({ params: { id: record.country_code_3 } }))
// }) satisfies GetStaticPaths

---

<Layout title={record.name}>
  <h1>{record.name}</h1>
  <pre>{JSON.stringify(record, null, 2)}</pre>
</Layout>