---
import Layout from '@/layouts/Layout.astro'
import { pb } from '@/services/pocketbase'

export const prerender = false

const records = await pb.collection("teams").getFullList({
  sort: "name"
})

---

<Layout title="Teams">
  <h1>Teams</h1>
  {records.map((record) => (
    <div>
      <a href={`/teams/${record.country_code_3}`}>{record.name}</a>
    </div>
  ))
</Layout>