---
import Layout from "@/layouts/Layout.astro";
import { getUser, getAllUsers, getMatches, getUserBets, getAllBets } from "@/services/dbhelper";
import LeaderboardChart from "@/components/LeaderboardChart.astro"

const pbToken = Astro.cookies.get("pbToken")?.value || '';

const currentUser = await getUser(pbToken);
const users = await getAllUsers(pbToken);

---

<Layout title="Leaderboard">
  <h1>Leaderboard</h1>
  <center>
    <table class="min-w-full sm:min-w-96">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {users.map((user: any, index: number) => (
          <tr class={user.id === currentUser.id ? "text-purple-400 bg-slate-900 font-bold" : ""}>
            <td title={user.emailVisibility ? user.email : user.username}>{user.username} {(user.points === Math.max(...users.map(u => u.points))) && '🏆'}</td>
            <td class="text-center">{user.points}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </center>

  <LeaderboardChart />
  <!-- <pre>{JSON.stringify({currentUser, users}, null, 2)}</pre> -->
</Layout>
