---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Login'>
  <main class='flex pt-[10%] justify-center'>
    <form id='login-form' hx-post='/api/auth/login' hx-target='#response' class='flex flex-col items-center max-w-96 w-full px-3'>
      <h1 class='text-5xl mb-5'>
        Euro 2024
      </h1>
      <div class='mb-10'>
        Prediction Game
      </div>
      <div class='mb-4 w-full'>
        <label for='email' class='block text-sm text-slate-300'>Email</label>
        <input
          type='email'
          id='email'
          name='email'
          required
          class='mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md'
        />
      </div>
      <div class='mb-4 w-full'>
        <label for='password' class='block text-sm text-slate-300'>Password</label>
        <input
          type='password'
          id='password'
          name='password'
          required
          class='mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md'
        />
      </div>
      <button type='submit' class='bg-gradient-to-r from-purple-600 to-violet-900 hover:from-purple-500 hover:to-violet-800 p-3 w-full rounded-md mt-3 transition'>Login</button>
      <div class='mt-4 text-slate-300'>
        Don't have an account?<a href='/register' class='text-purple-400 ml-2'>Register</a>
      </div>
      <div id='response' class='mt-4'></div>
    </form>
  </main>
</Layout>
