---
import Layout from "@/layouts/Layout.astro";
import euro2024_logo from '/assets/logos/UEFA_Euro_2024.svg?raw';

---

<Layout title="Register">
  <main class="flex pt-[10%] px-3 justify-center">
    <form id="login-form" hx-post="/api/auth/register" hx-target="#response" hx-swap="innerHTML" class="flex flex-col items-center w-full">
      <div class="text-5xl mb-5" aria-label="Euro 2024 Logo">
        <Fragment set:html={euro2024_logo} />
      </div>
      <div class="mb-10">
        Prediction Game
      </div>
      <div class="w-full sm:w-96">
        <div class="mb-4 w-full">
          <label for="email" class="block text-sm text-slate-300">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md"
          />
        </div>
        <div class="mb-4 w-full">
          <label for="username" class="block text-sm text-slate-300">Username (for leaderboard)</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            class="mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md"
          />
        </div>
        <div class="mb-4 w-full">
          <label for="password" class="block text-sm text-slate-300">Password (min. 5 characters)</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            class="mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md"
          />
        </div>
        <div class="mb-4 w-full">
          <label for="passwordConfirm" class="block text-sm text-slate-300">Confirm Password</label>
          <input
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
            required
            class="mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md"
          />
        </div>
        <button type="submit" class="w-full bg-gradient-to-r from-purple-600 to-violet-900 hover:from-purple-500 hover:to-violet-800 rounded-md p-3 mt-3 transition-colors">
          Register
        </button>
        <div class="mt-4 text-slate-300">
          Already have an account?<a href="/login" class="text-purple-400 ml-2">Login</a>
        </div>
      </div>
      <div id="response" class="mt-4 text-amber-400"></div>
    </form>
  </main>
</Layout>
