---
import Layout from '@/layouts/Layout.astro'
import GroupItem from '@/components/GroupItem.astro'
import { pb } from '@/services/pocketbase'

const records = await pb.collection("groups").getFullList({
  expand: "team_1,team_2,team_3,team_4",
})

---

<Layout title="Groups">
  <h1>Groups</h1>
  {records.map((record) => (
    <GroupItem key={record.id} group={record} />
  ))}
</Layout>