---
import { isAuthorizedAdmin } from '@/utils';
import Layout from '@/layouts/Imports.astro';

// do Auth check
if (!(Astro.cookies.has('pb_auth') && isAuthorizedAdmin(Astro.request.headers.get('cookie')))) {
    // User is not authenticated
    return Astro.redirect("/import/login", 303);
}

---

<Layout title='Import Dashboard'>
  <main class='h-screen w-screen flex pt-[10%] justify-center bg-gradient-to-r from-violet-900 to-slate-900 text-white'>
    <div class='flex flex-col items-center w-96'>
        <h1 class='text-5xl mb-5'>
            Admin Import
        </h1>
        <div class='mb-10 mt-4' id="response">
            Choose from available Tasks
        </div>
        <button type='submit' hx-get="/api/import/matches" hx-target="#response" class='bg-gradient-to-r from-purple-600 to-violet-900 hover:from-green-700 hover:to-lime-500 p-3 w-full rounded-md mt-3'>Import Scheduled Matches</button>
        <button type='submit' hx-get="/api/import/scores" hx-target="#response" class='bg-gradient-to-r from-purple-600 to-violet-900 hover:from-green-700 hover:to-lime-500 p-3 w-full rounded-md mt-3'>Update Scores</button>
        <button type='submit' hx-get="/api/import/flags" hx-target="#response" class='bg-gradient-to-r from-purple-600 to-violet-900 hover:from-green-700 hover:to-lime-500 p-3 w-full rounded-md mt-3'>Download Country flags</button>
        <button type='submit' hx-get="/api/import/logout" hx-target="#response" class='bg-gradient-to-r from-violet-600 to-red-900 hover:from-red-600 hover:to-red-800 p-3 w-full rounded-md mt-10'>Logout</button>
    </div>
  </main>
</Layout>
