---
import Layout from '@/layouts/Layout.astro';

---

<Layout title='Import Login'>
  <main class='flex pt-[10%] px-3 justify-center'>
    <form id='login-form' hx-post='/api/import/login' hx-target='#response' class='flex flex-col items-center w-full'>
      <h1 class='text-5xl mb-5'>
        Admin Login
      </h1>
      <div class='mb-6 mt-4 text-amber-400' id="response">
        &nbsp;
      </div>
      <div class="w-full sm:w-96">
        <div class='mb-4 w-full'>
          <label for='email' class='block text-sm text-slate-300'>Administrator Email</label>
          <input
            type='email'
            id='email'
            name='email'
            required
            class='mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md'
          />
        </div>
        <div class='mb-4 w-full'>
          <label for='password' class='block text-sm text-slate-300'>Password</label>
          <input
            type='password'
            id='password'
            name='password'
            required
            class='mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md'
          />
        </div>
        <div class='mb-4 w-full'>
          <label for='email' class='block text-sm text-slate-300'>Football-data.org API Key *)</label>
          <input
            type='text'
            id='apikey'
            name='apikey'
            class='mt-1 p-2 w-full bg-transparent border border-slate-400 rounded-md'
          />
        </div>
        <button type='submit' class='w-full bg-gradient-to-r from-purple-600 to-violet-900 hover:from-purple-500 hover:to-violet-800 rounded-md p-3 mt-4 transition-colors'>Login</button>
        <div class="mb-4 mt-10 text-xs text-orange-200">*) Optional, but required if you want to update scores automatically</div>
      </div>
    </form>
  </main>
</Layout>
